html, body {
	margin: 0px;
	width: 100%;
	height: 100%;
}

body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	color: #333333;
	background-color: #001027;
}

.home {
	background-color: #fff;
}

.page {
	margin-left:auto;
	margin-right:auto;
}

.bodyContainer {
	background-color:white;
	margin:auto;
	padding:15px;
	overflow:hidden;
}

.clearfix {
	overflow:hidden;
}

hr {
	border-width: 1px 0px 0px;
	border-style: solid none none;
	border-color: #ccc;
}

/*
  ////////////  Home Page /////////////
  */

.headerImage{
	background-color: #001027;
	max-width: 100%;
	width: 100%;
	padding-top: 5px;
}

.headerImage a img{
	max-width:100%;
	width:100%;
}

.homeContainer {
	padding: 0px;
	background-color: white;
	width: 100%;
	margin:auto;
}

.robot-pic {
	max-height: 170px;
	width: auto;
	vertical-align: middle;
	display: none;
}

.block{
	background-repeat: repeat, repeat;
	background-attachment: scroll, scroll;
	background-clip: border-box, border-box;
	background-origin: padding-box, padding-box;
	background-size: auto auto, auto auto;
	transition: all 500ms;
}

.front-page-block > div {
	display: inline-block;
	width: 900px;
	max-width:100%;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.front-page-block {
	border-top: 7px solid #5f5f5f;
	color: #fff; !important;
	background-size: cover !important;
	text-align: center;
	width: 100%;
	height: 500px;
	position: relative;
}

.FIRST {
	background-image: url('../image_library/firstblock.jpg');
	background-position: 76% 25%;
}

.thisYear {
	background-image: url("../image_library/firstday.jpg");
	background-position: 100% 73%;
}

.STEM {
	background: url('../image_library/stemblock.jpg');
	background-position: 76% 56%;
	border-bottom: 7px solid #5f5f5f;
}

.shadow {
	box-shadow: 0 600px 0 0 rgba(0, 0, 0, 0.85) inset;
}

.sponsorlevel {
	font-size: 25px;
}

.sponsortext img {
	max-width: 100%;
	max-height: 150px;
}

.stempic {
	border-radius: 100%;
	border: 4px solid #cdcdcd;
	margin: 0;
}

.homeContainer h1,
.homeContainer h2,
.homeContainer h3,
.homeContainer h4,
.homeContainer h5 {
	margin: 10px 0;
	font-weight: 500;
}

.homeContainer h1 {
	font-size: 40px;
}

.homeContainer h2 {
	font-size: 35px;
}

.homeContainer h3 {
	font-size: 27px;
}

.homeContainer h4 {
	font-size: 18px;
}

.homeContainer h5 {
	font-size: 14px;
}

.front-page-text {
	font-size: 14px;
	text-align: center;
	padding: 7px;
	margin: 0;
}

.special-thanks {
	font-weight: bold !important;
}

.sponsortext {
	display:inline-block;
	vertical-align: middle;
	width: 43%;
	padding: 10px;
}

.sponsortext h4 {
	font-size: 14px;
}

.FRC {
	transition: all 500ms;
	height: 335px !important;
	background-color: black;
	opacity: .9;
}

.front-fade {
	box-shadow: 0 600px 0 0 rgba(0, 0, 0, 0.625) inset;
}

.FRC > div {
	opacity: 1;
	color: #fff;
	width: 1000px;
}

.fix {
	display: inline-block;
	margin: 0 10px 10px 10px;
}

.robot.fix {
	vertical-align: middle;
	margin: 0;
}

.fix > h4 {
	margin-top: 10px;
	margin-bottom: 0;
}

.youtubevid {
	text-align: center;
	font-size: 30px;
	text-decoration: none;
	color: white;
}

.youtubevid:hover {
	color: gray !important;
}

.youtubevid:visited {
	color: white;
}

/*
  //////////// End Home Page /////////////
  */

.modal-body:before,
.modal-body:after,
.bodyContainer:before,
.bodyContainer:after,
.page:before,
.page:after,
.navbar:before,
.navbar:after,
.nav:before,
.nav:after,
.nav ul:before,
.nav ul:after,
.blog_post_container:before,
.blog_post_container:after {
	content: " ";
	display:table;
}

.modal-body:after;
.bodyContainer:after;
.page:after,
.navbar:after,
.nav:after,
.nav ul:after,
.blog_post_container:after {
	clear:both;
}

.navbar{
	background-color:#1b4a7c;
	height:50px;
	border-bottom: 1px solid #d4d4d4;
	z-index: 1030;
	font-size:16px;
	-webkit-transform: translate3d(0, 0, 0);
	margin:0;
	position:relative;
}
.navbar.affix{
	position:fixed;
	top:0;
	width:100%;
}

.navbar.affix-top{
	border-top: 1px solid #D4D4D4;
}

.nav {
	display:none;
}
.nav > ul {
	margin: auto;
	padding:0;
	list-style:none;
	white-space:nowrap;
}

.nav > ul > li {
	position:relative;
	text-decoration:none;
	background-color:white;
	-webkit-transition: all 130ms ease-in-out;
	-moz-transition: all 130ms ease-in-out;
	transition: all 130ms ease-in-out;
}

.nav > ul > li > a {
	position:relative;
	display:block;
	text-decoration:none;
	padding-right:15px;
	padding-left:15px;
	padding-top:10px;
	padding-bottom:10px;
	font-weight:bold;
	color: #000000;
	text-shadow: 0 1px 0 #ffffff;
	line-height:20px;
	-webkit-transition: all 130ms ease-in-out;
	-moz-transition: all 130ms ease-in-out;
	transition: all 130ms ease-in-out;
}

.dropdown.open,
.nav > ul > li:hover {
	background-color: #f5f5f5;
}

.dropdown.open > a,
.nav > ul > li:hover > a {
	color:#555;
	text-shadow:0 1px 0 #fff;
}
.caret {
	display:inline-block;
	border-top:4px solid #000;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	margin-left: 4px;
	margin-bottom: 3px;
	-webkit-transition: all 130ms ease-in-out;
	-moz-transition: all 130ms ease-in-out;
	transition: all 130ms ease-in-out;
}

.dropdown.open .caret,
.dropdown:hover .caret{
	border-top:4px solid #555;
}

.nav.mobileDisplay {
	display:block;
	overflow: auto;
	max-height: 340px;
	width: 100%;
	background-color:white;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
	-webkit-overflow-scrolling: touch;
}

.nav.mobileDisplay > ul > li > a {
	font-weight:normal;
}

.dropdown.open > ul {
	display: block;
}

.home-icon {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 9px;
}

#show {
	padding: 4px 7px;
	float:right;
	display:block;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 11px;
	border-radius: 100%;
	border: none;
	background-color: transparent;
}

#show:hover {
	background-color: #FFF;
}

#show:hover .mobileButtonLine {
	background-color: #535353;
}

.mobileButtonLine {
	height:2px;
	width:16px;
	background-color:#FFF;
	margin-top:4px;
}

.dropdownMenu {
	display:none;
	position:static;
	list-style:none;
	text-align:left;
	z-index:1033;
	padding-left:0;
	-webkit-transition: all 130ms ease-in-out;
	-moz-transition: all 130ms ease-in-out;
	transition: all 130ms ease-in-out;
}

.dropdownMenu > li > a {
	display:block;
	text-decoration:none;
	padding:7px 25px;
	color:#000;
}

/*.dropdown:hover .dropdownMenu {
  display:block;
  }*/

.dropdownMenu > li {
	white-space: nowrap;
	opacity: 0.925;
	background-color: #fff;
	-webkit-transition: all 130ms ease-in-out;
	-moz-transition: all 130ms ease-in-out;
	transition: all 130ms ease-in-out;
}

.dropdownMenu > li:hover{
	opacity: 1;
	cursor: pointer;
	background-color: #FAFAFA;
}

.active {
	height: 3px;
	background-color:#fbd406;
	margin-top: -3px;
}

.dropdownMenu > li > .active {
	background-color:#316baf;
}

.about-text {
	font-size:1em;
	line-height:2;
}

.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;  
	box-shadow: 0 0 10px #000;
	margin-bottom:20px;
}

.swipe-wrap {
	overflow: hidden;
	position: relative;
}

.swipe-wrap > div {
	float:left;
	width:100%;
	position: relative;
}

.swipe-wrap img,
.carousel-control {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.swipe-wrap img {
	width:100%;
}

.homerow{
	border-top:1px solid #BDBDBD;
	margin-left:-15px;
	margin-right:-15px;
	margin-bottom:-15px;
}

.carousel-control{
	position: absolute;
	background-color:#ccc;
	opacity:0;
	transition:all 150ms ease-in-out;
}

.swipe:hover .carousel-control{
	opacity:0.75;
}

.carousel-control.right{
	top: 40%;
	right: 15px;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	font-size: 60px;
	font-weight: 100;
	line-height: 30px;
	color: #ffffff;
	text-align: center;
	background: #222222;
	border: 3px solid #ffffff;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 23px;
}

.carousel-control.left{
	top: 40%;
	left: 15px;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	font-size: 60px;
	font-weight: 100;
	line-height: 30px;
	color: #ffffff;
	text-align: center;
	background: #222222;
	border: 3px solid #ffffff;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 23px;
}
.slider-caption{
	background: #090f1b;
	opacity: 0.85;
	-moz-opacity: 0.85;
	filter: alpha(opacity=85);
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 15px;
	margin: 0;
	color:#fff;
}	
#sponsors-carousel {
	background:#fff;
	box-shadow:none;
}
#sponsors-carousel .title {
	text-shadow:none;
	color:#000;
}
#sponsors-carousel > .prev,
#sponsors-carousel > .next {
	top:59%;
}
#sponsors-carousel .next {
	right:0;
}
#sponsors-carousel .prev {
	left:0;
}

#home-carousel {
	margin: 0;
	width: 100%;
	box-shadow: none;
}

#home-carousel .prev,
#home-carousel .next,
#sponsors-carousel .prev,
#sponsors-carousel .next {
	opacity:0;
	transition:all 150ms ease-in-out;
}
#home-carousel:hover .prev,
#home-carousel:hover .next,
#sponsors-carousel:hover .prev,
#sponsors-carousel:hover .next {
	opacity:.75;
}
#home-carousel > .prev,
#home-carousel > .next,
#home-carousel > .close,
#home-carousel > .title,
#home-carousel > .play-pause,
#home-carousel > .description,
#sponsors-carousel > .prev,
#sponsors-carousel > .next,
#sponsors-carousel > .close,
#sponsors-carousel > .title,
#sponsors-carousel > .play-pause {
	display: block;
}
#home-carousel > .description {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff;
	background-color:#000;
	padding:20px;
	opacity:0.85;
	line-height:100%;
}
#home-carousel {
	margin-top:0;
}
#home-carousel .slides .slide .slide-content {
	max-width: 100%;
}
#home-carousel .slides {
	height:100%;
}
#sponsors-carousel .title {
	display:none;
	top:0;
}
.pageHeader{
	font-size:3em;
	border-bottom:2px solid #ccc;
	margin-top: -2px;
	padding-bottom:10px;
}
.column50 {
	width:100%;
}
.ss-q-item-label {
	font-weight:bold;
}
.ss-q-short {
	border:1px solid #ccc;
	border-radius:3px;
	padding:4px 6px;
	margin-bottom:10px;
	line-height:20px;
}

a {
	color: #1b4a7c;
}

.btn,
.read_more_link {
	margin-top:5px;
	padding:4px 12px;
	border:1px solid #b3b3b3;
	border-radius:4px;
	font-size: 14px;
	line-height:20px;
	background-color:#fff;
	text-decoration:none;
}
.read_more_link {
	color: #333;
	float:right;
}
.btn:hover,
.btn:focus,
.btn:active,
.read_more_link:hover,
.read_more_link:focus,
.read_more_link:active {
	background-color:#e6e6e6;
}
.btn:active,
.read_more_link:active {
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.btn.website {
	background-color:#428bca;
	border-color:#357ebd;
	text-decoration:none;
	color:white;
	padding:6px 12px;
}
.home.btn {
	float:right;
	color:#000;
	padding:4px 12px;
	margin-bottom:15px;
	margin-left:15px;
}
.home.btn:hover {
	background-color:#D1D1D1;
}
.Signout {
	color:#0088cc;
	text-decoration:none;
}
.unstyled {
	list-style:none;
	margin-left:-20px;
}

/* Footer */
.socialmedia {
	width: 50px;
	height: 50px;
	border-radius: 10px;
	margin: 0 5px;
}
.footer {
	text-align: center;
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid #BDBDBD;
	padding: 14px 15px 10px;
}

.footer a {
	text-decoration: none;
}

.siteMapTabs {
	font-size: 17px;
	display: inline-block;
}

.sitemap {
	font-size: 15px;
	//display: inline-block;
	float: left;
	margin: 0 21px;
}

.sitemapcolor {
	border-top: 1px solid #BDBDBD;
	background-color: #F8F8F8;
	text-align: center;
}

.sitemaplinks {
	text-decoration: none;
	color: #5c5c5c;
}

.sitemaplinks:visited {
	color: #5c5c5c;
}

.socialmedia:hover {
	opacity: .8;
}
/*End Footer specific*/

#memberbio div,
.thumbnail {
	padding:7px;
	border: 1px solid transparent;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
}

.thumbnail.photos {
	width:100%;
}

.thumbnail img {
	max-width:100%;
	width:100%;
}

#memberbio img{
	max-width:175px;
	width:100%;
}

#memberbio div:hover,
.thumbnail:hover {
	border-color:#316baf;
}
.thumbnail.photos h5{
	margin:10px 0;
}
.img-modal {
	margin-right:20px;
	float:left;
}
.modal-body-right {
	float:left;
	width:42%;
}
.modal-body{
	overflow:hidden;
}
.modal-footer{
	margin-top:0!important;
}
.sponsorHeader {
	border-bottom:1px solid #ccc;
	padding-bottom:0.5em;
	font-size:2.5em;
}
.sponsorDiv {
	width:32%;
	text-align:center;
	display:inline-block;
	vertical-align:middle;
}
.sponsorDiv > img {
	cursor:pointer;
	max-width:100%;
	max-height: 150px;
}

.blog_post_info {
	margin-top:-15px;
}
@media (max-width: 480px) and (orientation: landscape) {
	.nav.mobileDisplay{
		max-height:200px;
	}
}
@media (min-width: 531px){
	.column50 {
		display:inline-block;
		width:49%;
	}
	.thumbnail.photos {
		max-width:46%;
	}
	.front-page-text {
		font-size: 18px;
	}
	.robot-pic {
		display: block;
	}
	.robot.fix.team-info {
		max-width: 55%;
	}
}
@media (min-width: 765px){
	.homeContainer h1 {
		font-size: 60px;
	}

	.homeContainer h2 {
		font-size: 53px;
	}

	.homeContainer h3 {
		font-size: 35px;
	}

	.homeContainer h4 {
		font-size: 21px;
	}

	.homeContainer h5 {
		font-size: 20px;
	}
	.front-page-text {
		font-size: 22px;
	}
	.sponsortext {
		width: 30%;
	}
}
@media (min-width: 814px){
	.robot-pic {
		max-height: 235px;
		margin: 0px 10px;
	}
	.page {
		width:814px;
	}
	.nav {
		text-align:center;
	}
	.nav {
		display:block;
	}
	.nav > ul > li {
		display:inline-block;
		width:auto;
		margin:0;
		background:none;
	}
	.nav > ul > li:first-child {
		margin-top:0;
	}
	.nav > ul > li > a {
		color: #ffffff;
		text-shadow: 0 1px 0 #000000;
		padding-top:15px;
		padding-bottom:15px;
	}
	#show{
		display:none;
	}
	.dropdown.open,
	.nav > ul > li:hover {
		background-color: #fbd406;
	}
	.dropdownMenu {
		position:absolute;
		float:left;
	}
	.dropdownMenu > li > a {
		padding: 7px 15px;
	}
	.caret {
		border-top:4px solid #fff;
	}
	#home-carousel .slides {
		height:244px;
	}
	#home-carousel {
		padding-bottom:244px;
	}
	#sponsors-carousel {
		height:71px;
	}
	#sponsors-carousel .title {
		display:block;
	}
	#sponsors-carousel > .slides {
		height: 78.5%;
		margin-top: 18%;
	}
	.dropdownMenu {
		border: 1px solid #bdbdbd;
		padding:0;
	}
	.dropdownMenu > li:hover{
		background-color:#ddd;
	}
	.footer {
		text-align: inherit;
	}
	.footer div {
		float:right;
	}
	.footer p {
		float:left;
	}
	.sponsorDiv {
		width:21%;
		margin:0 1.8%;
	}
	#memberbio div, #links > .thumbnail {
		max-width:17.85%;
	}
	.thumbnail.photos{
		max-width:22.57%;
	}
}
@media (min-width: 980px){ /*change 600 to 780*/
	.page {
		width:980px;
	}
	.nav > ul > li {
		margin-left:10px;
		margin-right:10px;
	}
	#home-carousel .slides {
		height:317px;
	}
	#home-carousel {
		padding-bottom:317px;
	}
	#sponsors-carousel {
		height:43px;
	}
	#sponsors-carousel > .slides {
		margin-top: 14%;
	}
	#memberbio div, #links > .thumbnail {
		max-width:12.54%;
	}
	.thumbnail.photos{
		max-width:23%;
	}
	.sponsortext {
		width: 12%;
	}
}
@media (min-width: 1200px){ /*change 600 to 780*/
	.page {
		width:1200px;
	}
	#home-carousel .slides {
		height:391px;
	}
	#home-carousel {
		padding-bottom:391px;
	}
	#sponsors-carousel {
		height:4px;
	}
	#sponsors-carousel > .slides {
		margin-top: 12%;
	}
	#memberbio div, #links > .thumbnail {
		max-width:100%;
	}
	.thumbnail.photos{
		max-width:23.3774%;
	}
	.robot-pic {
		max-height: 250px;
	}
}